# Start of script
# .gitattributes
# This file defines what languages can show up in the GitHub linguist menu (the menu that tells you what percentage each language is using up on this project.
# Some non-programming languages must be included manually with this file. Want to create your own? Do something similar to what is done here, and name the file
# .gitattributes
# and nothing else, no characters before, no characters after
# Start of linguist script

## # Denote all files that are truly binary and should not be modified.
## *.png binary
## *.jpg binary
## *.ico binary
## *.gif binary 
## 
## *.css text 
## *.js text 
## 
## # HTML (HyperText Markup Language) document
## *.html linguist-detectable=true
## *.html linguist-documentation=false
## *.html text 
## 
## # YAML (YAML Ain't Markup Language) document
## # Do not include, as it would become a dominant language that shouldn't be the language people refer this project to
## *.yml linguist-detectable=false
## *.yml linguist-documentation=false
## *.yml text
## 
## # JSON (JavaScript Object Notation) source file
## *.json linguist-detectable=false
## *.json linguist-documentation=false
## *.json text 
## 
## # Plain Text document
## # Do not include, as it would become the 100% dominant language and would hide all the other languages as "other"
## *.txt linguist-detectable=true
## *.txt linguist-documentation=true
## *.txt text 
## 
## # Markdown
## # Do not include, as it would become the 100% dominant language and would hide all the other languages as "other"
## *.md linguist-detectable=true
## *.md linguist-documentation=true
## *.md text 
## 
## # Git Configuration files
## # Do not include, as it would become the 100% dominant language and would hide all the other languages as "other"
## *.gitattributes linguist-detectable=false
## *.gitattributes linguist-documentation=false
## *.gitattributes linguist-language=Gitattributes
## *.gitignore linguist-detectable=false
## *.gitignore linguist-documentation=false
## *.gitignore linguist-language=Gitignore
## *.gitmodules linguist-detectable=false
## *.gitmodules linguist-documentation=false
## *.gitmodules linguist-language=Gitmodules

# End of linguist script
# File info
# File type: gitattributes file (.gitattributes)
# File version: 1 (2022, Monday, May 16th at 5:57 pm PST)
# Line count (including blank lines and compiler line): 160
# End of script
